<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <!-- Override menu names using record inheritance -->
    <record id="account_financial_report.menu_oca_reports" model="ir.ui.menu">
        <field name="name">Accounting</field>
    </record>

    <record id="mis_builder.mis_report_finance_menu" model="ir.ui.menu">
        <field name="name">Finances</field>
    </record>

    <!-- Hide the OCA VAT Report because it does not work properly -->
    <record id="account_financial_report.menu_vat_report_wizard" model="ir.ui.menu">
        <field name="name">OCA VAT Report (Do Not Use)</field>
        <field name="groups_id" eval="[(5, 0), (4, ref('base.group_system'))]"/>
    </record>

</odoo>
