.o_form_view {
    .o_field_widget .o_list_view {
        >tfoot>tr>td {
            padding: 0.3rem;
            color: #fff;
        }
    }
}

/* If the module 'web_widget_x2many_2d_matrix' is installed set black color in matrix footer */

.o_form_view .o_field_x2many_2d_matrix .o_x2many_2d_matrix.o_list_view > thead > tr > th {
    color: #fff;
}

.o_form_view .o_field_x2many_2d_matrix .o_x2many_2d_matrix.o_list_view > tfoot > tr > td {
    color: #fff;
    font-weight: 600;
}
