
$font-path: '../fonts';

@mixin konvergo-font-face($name, $weight, $style) {
  @font-face {
    font-family: 'BeVietnam';
    src: url('#{$font-path}/BeVietnam-#{$name}-webfont.eot');
    src: local('BeVietnam #{$name}'), local('Roboto-#{$name}'),
    url('#{$font-path}/BeVietnam-#{$name}-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/BeVietnam-#{$name}-webfont.woff') format('woff'),
    url('#{$font-path}/BeVietnam-#{$name}-webfont.ttf') format('truetype'),
    url('#{$font-path}/BeVietnam-#{$name}-webfont.svg#BeVietnam') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@include konvergo-font-face('Thin', 100, normal);
@include konvergo-font-face('ThinItalic', 100, italic);
@include konvergo-font-face('Light', 300, normal);
@include konvergo-font-face('LightItalic', 300, italic);
@include konvergo-font-face('Regular', 400, normal);
@include konvergo-font-face('Italic', 400, italic);
@include konvergo-font-face('Medium', 500, normal);
@include konvergo-font-face('MediumItalic', 500, italic);
@include konvergo-font-face('Bold', 700, normal);
@include konvergo-font-face('BoldItalic', 700, italic);

body {
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: BeVietnam;
    }
}
