<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <function name="rename" model="ir.ui.menu">
        <value type="char">account_financial_report.menu_oca_reports</value>
        <value type="char">en_US</value>
        <value type="char">Accounting</value>
    </function>

    <function name="rename" model="ir.ui.menu">
        <value type="char">account_financial_report.menu_oca_reports</value>
        <value type="char">fr_FR</value>
        <value type="char">Comptabilité</value>
    </function>

    <function name="rename" model="ir.ui.menu">
        <value type="char">account_tax_balance.menu_tax_balances</value>
        <value type="char">en_US</value>
        <value type="char">Taxes</value>
    </function>

    <function name="rename" model="ir.ui.menu">
        <value type="char">account_tax_balance.menu_tax_balances</value>
        <value type="char">fr_FR</value>
        <value type="char">Taxes</value>
    </function>

    <function name="rename" model="ir.ui.menu">
        <value type="char">mis_builder.mis_report_finance_menu</value>
        <value type="char">en_US</value>
        <value type="char">Finances</value>
    </function>

    <function name="rename" model="ir.ui.menu">
        <value type="char">mis_builder.mis_report_finance_menu</value>
        <value type="char">fr_FR</value>
        <value type="char">Finances</value>
    </function>

    <!-- Hide the OCA VAT Report because it does not work properly -->
    <record id="account_financial_report.menu_vat_report_wizard" model="ir.ui.menu">
        <field name="name">OCA VAT Report (Do Not Use)</field>
        <field name="groups_id" eval="[(5, 0), (4, ref('base.group_system'))]"/>
    </record>

    <!-- Replace the OCA Trial Balance with the Numigi Trial Balance -->
    <record id="account_financial_report.menu_trial_balance_wizard" model="ir.ui.menu">
        <field name="name">OCA Trial Balance (Do Not Use)</field>
        <field name="groups_id" eval="[(5, 0), (4, ref('base.group_system'))]"/>
    </record>

    <record id="account_report_trial_balance.report_menu" model="ir.ui.menu">
        <field name="parent_id" ref="account_financial_report.menu_oca_reports"/>
    </record>

</odoo>
